.covoiturage-details {
    margin-bottom: 2rem; 
}
.covoiturage-details h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem; 
}
.covoiturage-details p {
  font-size: 1rem;
  margin-bottom: 0.5rem; 
}
.covoiturage-details h3 {
  font-size: 1.5rem; 
  margin-bottom: 1rem; 
}
.covoiturage-details.conducteur {
  /* Styles pour la section du conducteur */
  border: 1px solid #dee2e6; 
  padding: 1rem; 
  border-radius: 0.25rem; 
}
.covoiturage-details.voiture {
  /* Styles pour la section de la voiture */
  border: 1px solid #dee2e6; 
  padding: 1rem; 
  border-radius: 0.25rem; 
}
.covoiturage-details.details-trajet {
  /* Styles pour la section des détails du trajet */
  border: 1px solid #dee2e6; 
  padding: 1rem; 
  border-radius: 0.25rem; 
}