/* src/components/NavigationBar.css */.navbar {
    background-color: #f8f9fa;
    padding: 1rem 0;
  }.navbar-brand {
    font-weight: bold;
  }.navbar-nav.nav-link {
    color: #343a40;
    margin-left: 1.5rem;
  }.navbar-nav.nav-link:hover {
    color: #007bff;
  }
  
  /* Responsive design */
  @media (max-width: 992px) {
  .navbar-nav.nav-link {
      margin-left: 0;
      padding: 0.5rem 1rem;
    }
  }