/* src/components/ReservationButton.css */.reservation-button {
    display: block; /* Affiche le bouton en tant que bloc */
    width: 100%; /* Largeur du bouton */
    max-width: 300px; /* Largeur maximale du bouton */
    margin: 2rem auto; /* Marge automatique pour centrer le bouton */
    padding: 0.75rem 1.5rem; /* Espacement interne du bouton */
    font-size: 1.1rem; /* Taille du texte du bouton */
    border-radius: 0.25rem; /* Coins arrondis */
  }